{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
    <h1>Weather App</h1>
    <form method="POST">    
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter city">
        <button type="submit" class="btn">Get Weather</button>
    </form>

    <div class="weather">
        {% if weather_data %}   
            <div class="left">
                <h2>{{ weather_data.temp }}॰C</h2>  
                <h3>{{ weather_data.city }}</h3>
            </div>
        {% endif %}

        <div class="right">
            <div class="icon">
                <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="{{ weather_data.description }}" width="100px">
            </div>
            <div class="condition">
                {% if exception_occured %}
                    {% if not city %}
                    <p>Please enter a Valid City</p>
                    {% else %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    {% endif %}
                {% endif %}
                <p>{{ weather_data.description }}</p>
                <h3>{{ weather_data.day }}</h3>
            </div>
        </div>
    </div>
    
    {% if forecasts_data %}
        <h2>Daily forecast</h2>
    {% endif %}
    <div class="forecast-container">
        {% if forecasts_data %}
            {% for forecast in forecasts_data %}
                <div class="forecast">
                    <h3>{{ forecast.day }}</h3>
                    <p>Min {{ forecast.min_temp }} ॰C - Max {{ forecast.max_temp }} ॰C</p>
                    <p>{{ forecast.description }}</p>
                    <img src ="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="{{ forecast.description }}">
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>


</body>
</html>